@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.no-webp body{
  background-image: url("../img/bgc.png"); }

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 111.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  text-align: center;
  font-weight: 400;
  display: inline-block;
  padding: 0.625rem 1.875rem;
  border-radius: 3.125rem;
  background: var(--grad2, linear-gradient(94deg, #C89AFC 9.51%, #7C6AFA 90.23%));
}

.button:hover {
  background: #835ddb;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #FFF;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2857142857;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header._header-scroll {
  padding-top: 1.25rem;
  padding-bottom: 1.5625rem;
  background-color: rgba(66, 20, 104, 0.8901960784);
}

.header__container-big {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.25rem 1fr 11.25rem;
  grid-template-columns: 11.25rem 1fr 11.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__logo {
  width: 40px;
  position: relative;
  z-index: 5;
}

.header__logo .img {
  max-width: 100%;
}

.header__actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  -webkit-column-gap: 3.5rem;
     -moz-column-gap: 3.5rem;
          column-gap: 3.5rem;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.no-webp .main-blok{
  background: url("../img/bgcpc.png") center/cover; }

.main-blok {
  overflow-x: clip;
}

.main-blok__container-big {
  position: relative;
}

.main-blok__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-blok__title {
  max-width: 57.5rem;
}

.main-blok__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.main-blok__last-line {
  width: 100%;
  gap: 5rem;
  background: rgb(18, 18, 18);
  position: absolute;
}

.main-blok .last-line__container-big {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem;
}

.main-blok__button {
  background: linear-gradient(140.99deg, rgb(223, 89, 80) 11.194%, rgb(69, 16, 70) 93.72%);
}

.main-blok__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
}

.main-blok__everything {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.5rem;
}

.main-blok__people-everything {
  opacity: 0.4;
}

.main-blok__finished {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3125rem;
}

.main-blok__people-finished {
  opacity: 0.4;
}

.main-blok__money {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.main-blok__money::before {
  content: "0";
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.main-blok__money::after {
  content: "1 000 000₴";
  opacity: 0.4;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.main-blok__money-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.main-blok__money-earned {
  opacity: 0.4;
}

.main-blok__money-progress {
  max-width: 37.5rem;
  height: 6px;
  overflow: hidden;
  background: linear-gradient(140.99deg, rgb(223, 89, 80) 12.127%, rgb(69, 16, 70) 93.197%);
}

.main-blok__money-scale {
  position: relative;
  left: 75%;
  height: 100%;
  background-color: #ddd;
}

.time-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 112px;
  background: #121212;
}

.time-blok > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.measurement {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.4;
}

@media (min-width: 111.875em) {
  .title {
    font-size: 4rem;
  }

  .header {
    padding-top: 3rem;
  }

  .header {
    padding-bottom: 3rem;
  }

  .header__actions {
    gap: 1rem;
  }

  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }

  .main-blok__container {
    padding-left: 12rem;
  }

  .main-blok__content {
    padding-top: 16.875rem;
  }

  .main-blok__content {
    padding-bottom: 3.125rem;
  }

  .main-blok__title {
    margin-bottom: 3.125rem;
  }

  .main-blok__counter {
    padding-bottom: 13.625rem;
  }

  .main-blok__counter {
    gap: 1.875rem;
  }

  .main-blok .last-line__container-big {
    gap: 5rem;
  }

  .main-blok__money-body {
    padding-right: 25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .header__actions {
    gap: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main-blok__container {
    padding-left: 1.875rem;
  }

  .main-blok__content {
    padding-top: 8.125rem;
  }

  .main-blok__content {
    padding-bottom: 1.875rem;
  }

  .main-blok__title {
    margin-bottom: 1.875rem;
  }

  .main-blok__counter {
    padding-bottom: 1.875rem;
  }

  .main-blok__counter {
    gap: 0.625rem;
  }

  .main-blok .last-line__container-big {
    gap: 0.625rem;
  }

  .main-blok__money-body {
    padding-right: 1.875rem;
  }
}

@media (max-width: 67.5em) {
  .header__container-big {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 61.99875em) {
  .button {
    padding: 0.625rem 1.25rem;
  }

  .main-blok .last-line__container-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .button {
    padding-right: 30px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    gap: 1.875rem;
    background-color: rgba(24, 31, 51, 0.9647058824);
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: rgba(66, 20, 104, 0.8901960784);
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 3.125rem;
  }

  .menu__link {
    font-size: 2.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: " ";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .main-blok__title {
    text-align: center;
  }

  .main-blok__counter {
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 111.875em) {
@supports (font-size: clamp( 1.875rem , 1.412414966rem  +  2.3129251701vw , 4rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.412414966rem  +  2.3129251701vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.412414966rem  +  2.3129251701vw , 4rem )) {
    .title {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem )) {
    .header {
      padding-top: calc(0.625rem + 2.375 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1079931973rem  +  2.5850340136vw , 3rem )) {
    .header {
      padding-bottom: calc(0.625rem + 2.375 * (100vw - 20rem) / 91.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.5433673469rem  +  0.4081632653vw , 1rem )) {
    .header__actions {
      gap: clamp( 0.625rem , 0.5433673469rem  +  0.4081632653vw , 1rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.5433673469rem  +  0.4081632653vw , 1rem )) {
    .header__actions {
      gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 91.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem );
         -moz-column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem );
              column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem )) or (column-gap: clamp( 0.9375rem , 0.3796768707rem  +  2.7891156463vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 91.875);
         -moz-column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 91.875);
              column-gap: calc(0.9375rem + 2.5625 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-left: clamp( 1.875rem , -0.3290816327rem  +  11.0204081633vw , 12rem )) {
    .main-blok__container {
      padding-left: clamp( 1.875rem , -0.3290816327rem  +  11.0204081633vw , 12rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -0.3290816327rem  +  11.0204081633vw , 12rem )) {
    .main-blok__container {
      padding-left: calc(1.875rem + 10.125 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-top: clamp( 8.125rem , 6.2202380952rem  +  9.5238095238vw , 16.875rem )) {
    .main-blok__content {
      padding-top: clamp( 8.125rem , 6.2202380952rem  +  9.5238095238vw , 16.875rem );
    }
}

@supports not (padding-top: clamp( 8.125rem , 6.2202380952rem  +  9.5238095238vw , 16.875rem )) {
    .main-blok__content {
      padding-top: calc(8.125rem + 8.75 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem )) {
    .main-blok__content {
      padding-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem )) {
    .main-blok__content {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 91.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem )) {
    .main-blok__title {
      margin-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6028911565rem  +  1.3605442177vw , 3.125rem )) {
    .main-blok__title {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.6828231293rem  +  12.7891156463vw , 13.625rem )) {
    .main-blok__counter {
      padding-bottom: clamp( 1.875rem , -0.6828231293rem  +  12.7891156463vw , 13.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.6828231293rem  +  12.7891156463vw , 13.625rem )) {
    .main-blok__counter {
      padding-bottom: calc(1.875rem + 11.75 * (100vw - 20rem) / 91.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.3528911565rem  +  1.3605442177vw , 1.875rem )) {
    .main-blok__counter {
      gap: clamp( 0.625rem , 0.3528911565rem  +  1.3605442177vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3528911565rem  +  1.3605442177vw , 1.875rem )) {
    .main-blok__counter {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 91.875);
    }
}

@supports (gap: clamp( 0.625rem , -0.3273809524rem  +  4.7619047619vw , 5rem )) {
    .main-blok .last-line__container-big {
      gap: clamp( 0.625rem , -0.3273809524rem  +  4.7619047619vw , 5rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.3273809524rem  +  4.7619047619vw , 5rem )) {
    .main-blok .last-line__container-big {
      gap: calc(0.625rem + 4.375 * (100vw - 20rem) / 91.875);
    }
}

@supports (padding-right: clamp( 1.875rem , -3.1590136054rem  +  25.1700680272vw , 25rem )) {
    .main-blok__money-body {
      padding-right: clamp( 1.875rem , -3.1590136054rem  +  25.1700680272vw , 25rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , -3.1590136054rem  +  25.1700680272vw , 25rem )) {
    .main-blok__money-body {
      padding-right: calc(1.875rem + 23.125 * (100vw - 20rem) / 91.875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body {
    padding-top: 11.25rem;
  }

  .menu__body::before {
    height: 5.3125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 20rem) / 28);
    }
}

@supports (height: clamp( 3.75rem , 2.6339285714rem  +  5.5803571429vw , 5.3125rem )) {
    .menu__body::before {
      height: clamp( 3.75rem , 2.6339285714rem  +  5.5803571429vw , 5.3125rem );
    }
}

@supports not (height: clamp( 3.75rem , 2.6339285714rem  +  5.5803571429vw , 5.3125rem )) {
    .menu__body::before {
      height: calc(3.75rem + 1.5625 * (100vw - 20rem) / 28);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #C89AFC;
  }
}

.webp body{ background-image: url(../img/bgc.webp); }

.webp .main-blok{ background: url(../img/bgcpc.webp) center/cover; }