// Заголовки, загальні БЕМ блоки та інше...

.title {
    color: #FFF;
    font-size: toRem(64);
    font-weight: 700;
    line-height: math.div(90, 70);
    @include adaptiveValue("font-size", 64, 30);

}