.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    @include adaptiveValue("padding-top", 48, 10);
    @include adaptiveValue("padding-bottom", 48, 10);
    &._header-scroll{
        padding-top: toRem(15);
        padding-bottom: toRem(15);
        background:rgb(69, 16, 70) 93.72%;
    } 
    // .header__container-big

    &__container-big {
        display: grid;
        grid-template-columns: toRem(180) 1fr toRem(180);
        align-items: center;
        justify-content: flex-end;

        @media (max-width:em(1080)) {
            grid-template-columns: auto 1fr auto;

        }


    }

    // .header__logo

    &__logo {
        width: 40px;
        position: relative;
        z-index: 5;

        .img {
            max-width: 100%;
        }
    }

    // .header__menu

    &__menu {}

    // .header__actions

    &__actions {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        @include adaptiveValue("gap", 16, 10);

    }

    // .header__button

    &__button {}
}

.menu {
    padding: 0 toRem(10);


    // .menu__body

    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            left: -100%;
            transition: all 0.3s ease 0s;
            overflow: auto;
            gap: toRem(30);
            background-color: #181f33f6;
            @include adaptiveValue("padding-top", 180, 120, 2, 768, 320);
            padding-left: toRem(15);
            padding-right: toRem(15);
            padding-bottom: toRem(30);

            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: -100%;
                transition: all 0.3s ease 0s;
                width: 100%;
                @include adaptiveValue("height", 85, 60, 2, 768, 320);
                background: rgb(69, 16, 70) 93.72%;                z-index: 2;
            }

            .menu-open & {
                left: 0;

                &::before {
                    left: 0;

                }
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: toRem(10);
        column-gap: toRem(56);
        @include adaptiveValue("column-gap", 56, 15);

        @media (max-width:$mobile) {
            flex-direction: column;
            text-align: center;
            row-gap: toRem(50);
        }

    }

    // .menu__item

    &__item {}

    // .menu__link

    &__link {

        @media (max-width: $mobile) {
            font-size: toRem(40);
        }

        transition: color 0.3s ease 0s;

        @media (any-hover:hover) {
            &:hover {
                color: #C89AFC;
            }

        }
    }
}

.button {

}

.icon-menu {
    display: none;

    @media (max-width:$mobile) {
        display: block;
        position: relative;
        width: toRem(30);
        height: toRem(18);
        cursor: pointer;
        z-index: 5;

        span,
        &::before,
        &::after {
            content: " ";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: toRem(2);
            background-color: #fff;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - toRem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {
                top: calc(50% - toRem(1));
                transform: rotate(-45deg);
            }

            &::before {
                top: calc(50% - toRem(1));
                transform: rotate(45deg);
            }

        }
    }
}