//====================================================================================================

.main-blok {
   background: url("@img/bgcpc.png") center / cover;
   overflow-x: clip;

   // .main-blok__container-big

   &__container-big {
      max-width: 1300px;
   }

   // .main-blok__container

   &__container {
   }

   // .main-blok__content

   &__content {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding-top", 270, 130);
      @include adaptiveValue("padding-bottom", 50, 30);
      display: flex;
      flex-direction: column;
   }

   // .main-blok__title

   &__title {
      max-width: toRem(920);
      @include adaptiveValue("margin-bottom", 50, 30);

      @media (max-width: $mobileSmall) {
         text-align: center;
      }
   }

   // .main-blok__counter

   &__counter {
      display: flex;
      gap: toRem(30);
      @include adaptiveValue("padding-bottom", 218, 30);
      @include adaptiveValue("gap", 30, 10);

      @media (max-width: $mobileSmall) {
         text-align: center;
      }
   }

   // .main-blok__last-line

   &__last-line {
      width: 100%;
      gap: toRem(80);
      background: rgb(18, 18, 18);
   }

   .last-line__container-big {
      align-items: center;
      justify-content: center;
      display: flex;
      max-width: 1300px;
      padding-top: toRem(43);
      padding-bottom: toRem(43);
      // @include adaptiveValue("padding-top", 43, 10);
      // @include adaptiveValue("padding-bottom", 43, 10);
      @include adaptiveValue("gap", 80, 10);
      @media (max-width: $tablet) {
         display: flex;
         flex-wrap: wrap;
      }
   }

   // .main-blok__button

   &__button {
      background: linear-gradient(140.99deg, rgb(223, 89, 80) 11.194%, rgb(69, 16, 70) 93.72%);
   }

   // .main-blok__people

   &__people {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(10);
   }

   // .main-blok__everything

   &__everything {
      display: flex;
      gap: toRem(120);
   }

   // .main-blok__people-everything

   &__people-everything {
      opacity: 0.4;
   }

   // .main-blok__people-number

   &__people-number {
   }

   // .main-blok__finished

   &__finished {
      display: flex;
      gap: toRem(37);
   }

   // .main-blok__people-finished

   &__people-finished {
      opacity: 0.4;
   }

   // .main-blok__money

   &__money {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: toRem(12);
      &::before {
         content: "0";
         opacity: 0.4;
         position: absolute;
         left: 0;
         bottom: -20px;
      }
      &::after {
         content: "1 000 000₴";
         opacity: 0.4;
         position: absolute;
         right: 0;
         bottom: -20px;
      }
   }

   // .main-blok__money-body

   &__money-body {
      display: flex;
      gap: toRem(30);
      @include adaptiveValue("padding-right", 400, 30);
   }

   // .main-blok__money-earned

   &__money-earned {
      opacity: 0.4;
   }

   // .main-blok__money-number

   &__money-number {
   }

   // .main-blok__money-progress

   &__money-progress {
      max-width: toRem(714);
      height: 6px;
      overflow: hidden;
      background: linear-gradient(140.99deg, rgb(223, 89, 80) 12.127%, rgb(69, 16, 70) 93.197%);
   }

   // .main-blok__money-scale

   &__money-scale {
      position: relative;
      left: 75%;
      height: 100%;
      background-color: #ddd;
   }
}

.time-blok {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 102px;
   height: 112px;
   background: #121212;

   & > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.number {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
}

.measurement {
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   opacity: 0.4;
}

.button {
}

//====================================================================================================
.page {
   // .page__about

   &__about {
      @include adaptiveValue("padding-top", 200, 130);
   }

   // .page__container-big

   &__container-big {
      max-width: 1300px;
   }

   // .page__container

   &__container {
      display: flex;

      @media (max-width: $tablet) {
         flex-direction: column-reverse;
      }
   }

   // .page__imge

   &__imge {
     
   }

   // .page__content

   &__content {
      @include adaptiveValue("padding-left", 140, 10);
      display: flex;
      flex-direction: column;
      gap: toRem(45);
      @media (max-width: $tablet) {
         padding-bottom: toRem(120);
      }
   }

   // .page__title

   &__title {
      font-size: 48px;
      font-weight: 700;
      text-align: left;
   }

   // .page__text

   &__text {
      font-weight: 400;
      line-height: 160%;
   }
}
.about {
}
.image-blok {
   // .image-blok__item

   &__item {
   }
}
.title {
}
.text {
}
