//====================================================================================================

.main-blok {
   background: url("@img/bgcpc.png") center / cover;
   overflow-x: clip;

   // .main-blok__container-big

   &__container-big {
      position: relative;
   }

   // .main-blok__container

   &__container {
      @include adaptiveValue("padding-left", 192, 30);
   }

   // .main-blok__content

   &__content {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding-top", 270, 130);
      @include adaptiveValue("padding-bottom", 50, 30);
      display: flex;
      flex-direction: column;
   }

   // .main-blok__title

   &__title {
      max-width: toRem(920);
      @include adaptiveValue("margin-bottom", 50, 30);

      @media (max-width: $mobileSmall) {
         text-align: center;
      }
   }

   // .main-blok__counter

   &__counter {
      display: flex;
      gap: toRem(30);
      @include adaptiveValue("padding-bottom", 218, 30);
      @include adaptiveValue("gap", 30, 10);

      @media (max-width: $mobileSmall) {
         text-align: center;
      }
   }

   // .main-blok__last-line

   &__last-line {
      width: 100%;
      gap: toRem(80);
      background: rgb(18, 18, 18);
      position: absolute;
   }

   .last-line__container-big {
      align-items: center;
      display: flex;
      @include adaptiveValue("padding-left", 230, 30);
      @include adaptiveValue("padding-top", 35, 10);
      @include adaptiveValue("padding-bottom", 28, 10);
      gap: toRem(80);
   }

   // .main-blok__button

   &__button {
      background: linear-gradient(140.99deg, rgb(223, 89, 80) 11.194%, rgb(69, 16, 70) 93.72%);
   }

   // .main-blok__people

   &__people {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(10);
      width: 251px;
height: 58px;

   }

   // .main-blok__everything

   &__everything {
      display: flex;
      gap: auto;
      gap: toRem(120);

   }

   // .main-blok__people-everything

   &__people-everything {
      opacity: 0.4;   }

   // .main-blok__people-number

   &__people-number {

   }

   // .main-blok__finished

   &__finished {
      display: flex;
      gap: toRem(37);

   }

   // .main-blok__people-finished

   &__people-finished {
      opacity: 0.4;
   }

   // .main-blok__money

   &__money {
   }

   // .main-blok__money-body

   &__money-body {
   }

   // .main-blok__money-earned

   &__money-earned {
   }

   // .main-blok__money-number

   &__money-number {
   }

   // .main-blok__money-progress

   &__money-progress {
   }

   // .main-blok__money-scale

   &__money-scale {
   }
}

.time-blok {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 102px;
   height: 112px;
   background: #121212;

   & > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.number {
   font-size: 36px;
   font-style: normal;
   font-weight: 700;
}

.measurement {
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   opacity: 0.4;
}

.button {
}

//====================================================================================================
